@model Skewrl.Web.UI.Models.UrlModel

<div id='clicks_div_loading' style='display:none;padding-left:100px;padding-top:100px;'>
  
</div>
<div id="clicks_div">
<img src='/Images/ajax-loader.gif' alt="Loading, please wait..."/>
</div>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart1);

    function drawChart1() {
        //$('#clicks_div_loading').show();
        $.post('/Chart/Timeline', { id: '@Model.ShortUrlCode' },
            function (data) {
                var tdata = new google.visualization.DataTable();

                tdata.addColumn('date', 'Month');
                tdata.addColumn('number', 'Clicks');

                for (var i = 0; i < data.length; i++) {
                    tdata.addRow([new Date(parseInt(data[i].Name.replace(/(^.*\()|([+-].*$)/g, ''))), data[i].Value]);
                    if (i == 0) {
                    //alert( data[i].Name + "-----" + parseInt(data[i].Name.replace(/(^.*\()|([+-].*$)/g, '')));
                    }
                }

                tdata.sort({ column: 1, asc: true }); 

                var ac = new google.visualization.AreaChart(document.getElementById('clicks_div'));
                ac.draw(tdata, {
                    title: 'Clicks',
                    isStacked: true, legend: { position: 'none' },
                    titleTextStyle: { color: '#999999', fontSize: 22 },
                    width: 400, height: 350
                });

            })
            .success(function () { /*Some placeholder*/ })
            .error(function () { /*Some placeholder*/ })
            .complete(function () { /*$('#clicks_div_loading').hide();*/ });
    }
</script>
